In [1]:
import numpy as np
import shutil
import os
import glob
import pandas as pd
import matplotlib.pylab as plt
#plt.switch_backend('agg')
% matplotlib inline

import graphviz
import itertools
from scipy import interp
from itertools import cycle, islice

import pydot
pydot.find_graphviz = lambda: True
import keras
from keras.utils import np_utils, plot_model
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.utils.vis_utils import plot_model
from keras.models import load_model
from keras.callbacks import EarlyStopping, ModelCheckpoint


from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.metrics import matthews_corrcoef, classification_report, confusion_matrix
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_curve, auc



plt.rc('text', usetex=True)
plt.rc('font',**{'family':'DejaVu Sans','serif':['Palatino']})
figSize  = (12, 8)
fontSize = 20

# fix random seed for reproducibility
np.random.seed(7)

Using TensorFlow backend.
//anaconda/envs/tflearn/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.5
  return f(*args, **kwds)

In [2]:
classes_types=["Type 1", "Type 2", "Type 3", "Type 4", "Type 5", "Type 6", "Type 7", "Type 8", "Type 9", "Type 10", "Type 12"]#"Type 11","Type 13"
types ='Type1_2_3_4_5_6_7_8_9_10_12'
nClasses=11
nFeatures = 7

true_class_1=1;true_class_2=2;true_class_3=3;true_class_4=4;true_class_5=5;true_class_6=6;true_class_7=7;\
true_class_8=8;true_class_9=9;true_class_10=10;true_class_11=11;true_class_12=12;true_class_13=13

plots_dir         = './DNN_results/plots/'
results_dir       = './DNN_results/results/'
misclassify_dir   = r'./DNN_results/results/Misclassification_'
feature_directory ='./data/feature_data/'
model_dir         ='./DNN_results/model/'

In [3]:
def filename(path):
    # Load files
    files = glob.glob(path)

    n = 0
    file_name = []
    for file in files:
        filename = os.path.basename(str(file))
        file_name.append(filename[0:-13])
    
        n = n + 1
    print(np.shape(file_name))
    return file_name


def load_features(path, number_of_features):
    # Load files
    files = glob.glob(path)
    
    # compute the total number of files in the directory
    n = 0
    for file in files:
        n = n + 1
    
    # Create a matrix to store the original features with n_files for rows and n_features for columns
    master_matrix = np.zeros([n, number_of_features])
    
    rows = 0
    
    # Opening the data files containing the features
    for file in files:
        f    = open(file, 'r')
        data =  f.readlines()
        
        for i in range(number_of_features):
            master_matrix[rows][i] = float(data[i])
            
        rows =  rows + 1
        f.close()
        
    print("Master_matrix shape: %s" % str(master_matrix.shape))
    return master_matrix

In [4]:
# Load features for the different variable stars
features_1  = load_features(path='../features/Type'+str(true_class_1)+'_features/*.txt', number_of_features=7)
features_2  = load_features(path='../features/Type'+str(true_class_2)+'_features/*.txt', number_of_features=7)
features_3  = load_features(path='../features/Type'+str(true_class_3)+'_features/*.txt', number_of_features=7)
features_4  = load_features(path='../features/Type'+str(true_class_4)+'_features/*.txt', number_of_features=7)
features_5  = load_features(path='../features/Type'+str(true_class_5)+'_features/*.txt', number_of_features=7)
features_6  = load_features(path='../features/Type'+str(true_class_6)+'_features/*.txt', number_of_features=7)
features_7  = load_features(path='../features/Type'+str(true_class_7)+'_features/*.txt', number_of_features=7)
features_8  = load_features(path='../features/Type'+str(true_class_8)+'_features/*.txt', number_of_features=7)
features_9  = load_features(path='../features/Type'+str(true_class_9)+'_features/*.txt', number_of_features=7)
features_10 = load_features(path='../features/Type'+str(true_class_10)+'_features/*.txt', number_of_features=7)
features_11 = load_features(path='../features/Type'+str(true_class_11)+'_features/*.txt', number_of_features=7)
features_12 = load_features(path='../features/Type'+str(true_class_12)+'_features/*.txt', number_of_features=7)
features_13 = load_features(path='../features/Type'+str(true_class_13)+'_features/*.txt', number_of_features=7)

# Load file names for the different variable stars
filename_1  = filename(path='../features/Type'+str(true_class_1)+'_features/*.txt')
filename_2  = filename(path='../features/Type'+str(true_class_2)+'_features/*.txt')
filename_3  = filename(path='../features/Type'+str(true_class_3)+'_features/*.txt')
filename_4  = filename(path='../features/Type'+str(true_class_4)+'_features/*.txt')
filename_5  = filename(path='../features/Type'+str(true_class_5)+'_features/*.txt')
filename_6  = filename(path='../features/Type'+str(true_class_6)+'_features/*.txt')
filename_7  = filename(path='../features/Type'+str(true_class_7)+'_features/*.txt')
filename_8  = filename(path='../features/Type'+str(true_class_8)+'_features/*.txt')
filename_9  = filename(path='../features/Type'+str(true_class_9)+'_features/*.txt')
filename_10 = filename(path='../features/Type'+str(true_class_10)+'_features/*.txt')
filename_11 = filename(path='../features/Type'+str(true_class_11)+'_features/*.txt')
filename_12 = filename(path='../features/Type'+str(true_class_12)+'_features/*.txt')
filename_13 = filename(path='../features/Type'+str(true_class_13)+'_features/*.txt')


# Create Class labels for the different variable stars
class_1 = np.full(len(features_1), 1, dtype=int)
class_2 = np.full(len(features_2), 2, dtype=int)
class_3 = np.full(len(features_3), 3, dtype=int)
class_4 = np.full(len(features_4), 4, dtype=int)
class_5 = np.full(len(features_5[0:4509,:]), 5, dtype=int)
class_6 = np.full(len(features_6), 6, dtype=int)
class_7 = np.full(len(features_7), 7, dtype=int)
class_8 = np.full(len(features_8), 8, dtype=int)
class_9 = np.full(len(features_9), 9, dtype=int)
class_10 = np.full(len(features_10), 10, dtype=int)
class_11 = np.full(len(features_11), 11, dtype=int)
class_12 = np.full(len(features_12), 12, dtype=int)
class_13 = np.full(len(features_13), 13, dtype=int)

Master_matrix shape: (4325, 7)
Master_matrix shape: (3752, 7)
Master_matrix shape: (502, 7)
Master_matrix shape: (171, 7)
Master_matrix shape: (18803, 7)
Master_matrix shape: (4509, 7)
Master_matrix shape: (3636, 7)
Master_matrix shape: (1286, 7)
Master_matrix shape: (147, 7)
Master_matrix shape: (153, 7)
Master_matrix shape: (298, 7)
Master_matrix shape: (153, 7)
Master_matrix shape: (10, 7)
(4325,)
(3752,)
(502,)
(171,)
(18803,)
(4509,)
(3636,)
(1286,)
(147,)
(153,)
(298,)
(153,)
(10,)

In [5]:
# This Line of code needs to be changed each time (X and filenames and classes)
# Building the target 
#The part below needs to be changed to know which class to classify. 
#Update type 1, type 2 and other class.
X         = np.concatenate(( features_1[:,:], features_2[:,:], features_3[:,:],features_4[:,:],\
                            features_5[0:4509,:], features_6[:,:], features_7[:,:], features_8[:,:], features_9[:,:],\
                           features_10[:,:], features_12[:,:]), axis=0)#features_13[:,:]
filenames = np.concatenate(( filename_1,filename_2,filename_3,filename_4, filename_5[0:4509], filename_6,filename_7,
                           filename_8,filename_9,filename_10,filename_12), axis=0)#,filename_13
classes   = np.concatenate((class_1,class_2, class_3,class_4, class_5, class_6, class_7,class_8,class_9,class_10,\
                           class_12), axis=0)#,class_13

print("Datasets shape: %s" % str(X.shape))
print("FileName (Datasets) shape: %s" % str(filenames.shape))
print("True label shape: %s" % str(classes.shape))

Datasets shape: (23143, 7)
FileName (Datasets) shape: (23143,)
True label shape: (23143,)

In [6]:

data                       = pd.DataFrame(X)

data.head()

          0         1         2         3         4         5         6
0 -0.723422  14.79140  0.235842 -0.509129  0.956348  0.395027  0.015945
1 -0.060895  19.33822  0.437060 -0.642995  0.467078  0.798282  0.022601
2 -1.949758  17.38848  0.241550  9.202229  0.617776  0.373168  0.013891
3 -0.454850  17.66133  0.265296  0.798117  0.606558  0.480441  0.015021
4 -0.737083  17.28145  0.247050  0.272187  0.467032  0.482049  0.014296

In [7]:
data                       = data.drop(labels={4}, axis=1)
data['File_Name']          = filenames
data['True_class_labels']  = classes

data.head()

,0,1,2,3,5,6,File_Name,True_class_labels
0,-0.723422,14.79140,0.235842,-0.509129,0.395027,0.015945,3019021001365,1
1,-0.060895,19.33822,0.437060,-0.642995,0.798282,0.022601,3019094000701,1
2,-1.949758,17.38848,0.241550,9.202229,0.373168,0.013891,3019100001287,1
3,-0.454850,17.66133,0.265296,0.798117,0.480441,0.015021,3019117005772,1
4,-0.737083,17.28145,0.247050,0.272187,0.482049,0.014296,3019118005110,1

In [8]:
lC_dir = '../SSS_Per_Var_Cat/'
period_data = pd.read_csv('../Ascii_SSS_Per_Table.txt',delim_whitespace=True,names = ["SSS_ID", "File_Name", "RA", "Dec", "Period", "V_CSS", "Npts", "V_amp", "Type", "Prior_ID", "No_Name1", 'No_Name2'])

periods = period_data[['File_Name', 'Period']]
data['File_Name']=data['File_Name'].astype(int)
data = data.join(periods.set_index('File_Name'), on='File_Name')
data = data[[0,1,2,3, 'Period',5,6,'File_Name', 'True_class_labels']]
data = data.rename(columns = {0:'Skew',1:'Mean',2:'Sigma', 3:'Kurtosis', \
                            4:'Period LS', 5:'Amplitude', 6:'Mean Variance'})
data.head()

,Skew,Mean,Sigma,Kurtosis,Period,Amplitude,Mean Variance,File_Name,True_class_labels
0,-0.723422,14.79140,0.235842,-0.509129,0.488195,0.395027,0.015945,3019021001365,1
1,-0.060895,19.33822,0.437060,-0.642995,0.467078,0.798282,0.022601,3019094000701,1
2,-1.949758,17.38848,0.241550,9.202229,0.617775,0.373168,0.013891,3019100001287,1
3,-0.454850,17.66133,0.265296,0.798117,0.606604,0.480441,0.015021,3019117005772,1
4,-0.737083,17.28145,0.247050,0.272187,0.467006,0.482049,0.014296,3019118005110,1

In [10]:
data.shape

(23143, 9)

In [9]:
data.to_csv('./data/features_alldata.csv',index=None)